.store {
  flex: 4;
}

.storeHeaderWrapper {
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.storeTitle {
  font-size: 25px;
  color: rgb(100, 98, 98);
}

